<!-- Twitter Cards -->
<meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
{% if page.excerpt %}<meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | escape }}">{% endif %}
{% if site.owner.twitter %}<meta name="twitter:site" content="@{{ site.owner.twitter | escape }}">{% endif %}
{% if author.twitter %}<meta name="twitter:creator" content="@{{ author.twitter | escape }}">{% endif %}
{% if page.image.feature %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ site.url | escape }}/images/{{ page.image.feature | escape }}">
{% else %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url | escape }}/images/{{ page.image.thumb | escape }}{% else %}{{ site.url | escape }}/images/default-thumb.png{% endif %}">
{% endif %}
<!-- Open Graph -->
<meta property="og:locale" content="{{ site.locale | escape }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
{% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | escape }}">{% endif %}
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url | escape }}">
<meta property="og:site_name" content="{{ site.title | escape }}">
{% if page.image.feature %}
<meta property="og:image" content="{{ site.url | escape }}/images/{{ page.image.feature | escape }}">
{% else %}
<meta property="og:image" content="{% if page.image.thumb %}{{ site.url | escape }}/images/{{ page.image.thumb | escape }}{% else %}{{ site.url | escape }}/images/default-thumb.png{% endif %}">
{% endif %}
