<div class="social-share">
  <font size=2 >Share on:</font>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" class="twitter" title="Share on Twitter"><i class="fa fa-twitter"></i><span> Twitter</span></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook" title="Share on Facebook"><i class="fa fa-facebook"></i><span> Facebook</span></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" class="linkedin" title="Share on linkedin"><i class="fa fa-fw fa-linkedin"></i><span> LinkedIn</span></a>
    </li>
    <li>
      <a href="https://www.douban.com/recommend/?url={{ site.url }}{{ page.url }}" class="douban" title="Share on douban"><i class="fa fa-share-alt"></i><span> Douban</span></a>
    </li>
  </ul>
</div><!-- /.social-share -->
